.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.dotDark {
    height: 18px;
    width: 18px;
    background-color: #312B2B;
    border-radius: 50%;
    display: inline-block;
}