<template>
  <div id="app">
    <div class="container mt-5">
      <div class="row">

        <!--  My CV-->
        <div class="coi-lg-7 col-md-7 col-sm-7 col-xs-6">

          <div class="row">
            <div class="col-md-3 mt-3">
              <img  v-if="image" :src="image" class="img-fluid" alt="Image" style="width:150px; height: 120px; border-radius:50%">
              <img v-else src="static/assets/images/image.jpg" class="img-fluid" alt="Image" style="width:150px; height: 120px; border-radius:50%">
            </div>
            <div class="col-md-9">
              <h5>{{ personalInfo.first_name }} {{ personalInfo.last_name }}</h5>
              <h6>{{ inputProfile.job_title }}</h6>
              <p class="text-justify">{{ inputProfile.job_description }}</p>
              <!--    Location/Date-of-birth/Phone/Email-->
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6"><i class="fas fa-home"></i>{{personalInfo.address}}</div>
                  <div class="col-md-6"><i class="fas fa-birthday-cake"></i>{{ personalInfo.date_of_birth }}</div>
                </div>
                <div class="row">
                  <div class="col-md-6"><i class="fas fa-mobile-alt"></i>{{ personalInfo.phone }}</div>
                  <div class="col-md-6"><i class="fas fa-envelope-open-text"></i>{{ personalInfo.email }}</div>
                </div>
              </div>
              <!--    Location/Date-of-birth/Phone/Email-->
            </div>

            <!--    Social Media-->
            <div class="container">
              <h4>Social Media</h4>
              <hr>
              <div class="container-fluid">
                <div class="row" v-for="(socialMedia,k) in inputSocialMedia" :key="k">
                  <div class="col-md-4">{{ socialMedia.social_media }}</div>
                  <div class="col-md-8">{{ socialMedia.social_media_link }}</div>
              </div>
              </div>
            </div>
            <!--    Social Media-->

            <!--    Education-->
            <div class="container">
              <h4>Education</h4>
              <hr>
              <div class="container-fluid">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">SL</th>
                    <th scope="col">Institution Name</th>
                    <th scope="col">Group</th>
                    <th scope="col">CGP-A</th>
                    <th scope="col">Session</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(education,k) in inputEducation" :key="k">
                    <th scope="row">{{ k+1 }}</th>
                    <td>{{ education.institution_name }}</td>
                    <td>{{ education.major }}</td>
                    <td>{{ education.cgpa }}</td>
                      <td v-if="education.present">{{ education.start_date }} - {{ 'present' }}</td>
                      <td v-else>{{ education.start_date }} - {{ education.end_date }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--    Education-->

            <!--    Experience-->
            <div class="container">
              <h4>Experience</h4>
              <hr>
              <div class="row" v-for="(experience,k) in inputExperience" :key="k">
                <div class="col-md-3">
                  <p v-if="experience.present">{{ experience.start_date }} - {{ 'present' }}</p>
                  <p v-else>{{ experience.start_date }} - {{ experience.end_date }}</p>
                </div>
                <div class="col-md-9">
                  <h5>{{ experience.institution_name }}</h5>
                  <h6>{{ experience.designation }}</h6>
                  <h6>{{ experience.about_job }}</h6>
                </div>
                <br>
              </div>
            </div>
            <!--    Experience-->
            <div class="container">
              <div class="row">
                <!--     Skill-->
                <div class="col-md-6">
                  <div class="container">
                    <h2>Skill</h2>
                    <hr>
                    <ul class="list-group" v-for="(skill,k) in inputSkill" :key="k">
                      <li>{{ skill.skill }}</li>
                    </ul>
                  </div>
                </div>
                <!--     Skill-->

                <!--    Software Skill-->
                <div class="col-md-6">
                  <div class="container">
                    <h2>Software Skill</h2>
                    <hr>
                    <ul class="list-group" v-for="(softwareSkill,k) in inputSoftwareSkill" :key="k">
                      <li>{{ softwareSkill.software_skill }}</li>
                    </ul>
                  </div>
                </div>
                <!--    Software Skill-->
              </div>
            </div>

            <div class="container">
              <div class="row">
                <!--     Personality-->
                <div class="col-md-6">
                  <div class="container">
                    <h2>Personality</h2>
                    <hr>
                    <div v-for="(personality,k) in inputPersonality" :key="k">
                    <div class="badge badge-secondary text-wrap">{{ personality.personality }}</div>
                  </div>
                  </div>
                </div>
                <!--     Personality-->

                <!--    Language-->
                <div class="col-md-6">
                  <div class="container">
                    <h2>Language</h2>
                    <hr>
                    <div class="row" v-for="(language,k) in inputLanguage" :key="k">
                      <div class="col-md-4">
                        <p>{{ language.language }}</p>
                      </div>
                      <div class="col-md-8">
                    <div v-if="language.score == 1">
                      <span class="dotDark"></span>
                      <span class="dot"></span>
                      <span class="dot"></span>
                      <span class="dot"></span>
                      <span class="dot"></span>
                    </div>
                    <div v-if="language.score == 2">
                      <span class="dotDark"></span>
                      <span class="dotDark"></span>
                      <span class="dot"></span>
                      <span class="dot"></span>
                      <span class="dot"></span>
                    </div>
                    <div v-if="language.score == 3">
                      <span class="dotDark"></span>
                      <span class="dotDark"></span>
                      <span class="dotDark"></span>
                      <span class="dot"></span>
                      <span class="dot"></span>
                    </div>
                    <div v-if="language.score == 4">
                      <span class="dotDark"></span>
                      <span class="dotDark"></span>
                      <span class="dotDark"></span>
                      <span class="dotDark"></span>
                      <span class="dot"></span>
                    </div>
                    <div v-if="language.score == 5">
                      <span class="dotDark"></span>
                      <span class="dotDark"></span>
                      <span class="dotDark"></span>
                      <span class="dotDark"></span>
                      <span class="dotDark"></span>
                    </div>
                      </div>
                  </div>
                  </div>
                </div>
                <!--    Language-->
              </div>
            </div>

            <!--    Hobby-->
            <div class="container">
              <h4>Hobby</h4>
              <hr>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-2" v-for="(hobby,k) in inputHobby" :key="k">
                    <p>{{ hobby.hobbies }}</p>
                  </div>
                </div>
              </div>
            </div>
            <!--    Hobby-->
          </div>
          <br>
          <br>
          <hr>
          <br>
          <br>
          <u><h3>Mark Sheet</h3></u>
          <br>
          <div class="container-fluid">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">SL</th>
                <th scope="col">Course Code</th>
                <th scope="col">Course Title</th>
                <th scope="col">Credit</th>
                <th scope="col">Grade</th>
                <th scope="col">Grade Point</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(markSheet,k) in inputMarkSheet" :key="k">
                <th scope="row">{{ k+1 }}</th>
                <td>{{ markSheet.course_code }}</td>
                <td>{{ markSheet.course_title }}</td>
                <td>{{ markSheet.credit }}</td>
                <td>{{ markSheet.grade }}</td>
                <td>{{ markSheet.grade_point }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--  My CV-->

        <!--  My CV Form-->
        <div class="coi-lg-5 col-md-5 col-sm-5 col-xs-6">
<!--          <div class="form-group" v-for="(input,k) in inputs" :key="k">-->
<!--            <input type="text" class="form-control" v-model="input.name">-->
<!--            <span>-->
<!--        <i class="fas fa-minus-circle" @click="remove(k)" v-show="k || ( !k && inputs.length > 1)"></i>-->
<!--        <i class="fas fa-plus-circle" @click="add(k)" v-show="k == inputs.length-1"></i>-->
<!--    </span>-->
<!--          </div>-->
          <form>
            <!--    Personal Information-->
            <a class="btn btn-primary" data-toggle="collapse" href="#personalInformation" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-user-alt"></i>  Personal Information
            </a>
            <div class="collapse" id="personalInformation">
              <div class="card card-body">

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>First Name</label>
                    <input type="type" class="form-control" placeholder="First Name" v-model="personalInfo.first_name">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <input type="type" class="form-control" placeholder="Last Name" v-model="personalInfo.last_name">
                  </div>
                </div>
                <div class="form-group">
                  <label>Gender</label>
                  <select class="form-control" v-model="personalInfo.gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Date Of Birth</label>
                  <input type="date" class="form-control" v-model="personalInfo.date_of_birth">
                </div>
                <h5><i class="fal fa-id-card"></i>  Contact</h5>
                <hr>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Email" v-model="personalInfo.email">
                </div>
                <div class="form-group">
                  <label>Phone</label>
                  <input type="number" class="form-control" placeholder="Phone No" v-model="personalInfo.phone">
                </div>

                <h5><i class="fal fa-home-lg-alt"></i> Address</h5>
                <hr>
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" placeholder="Your Address" v-model="personalInfo.address">
                </div>
                <div class="form-group">
                  <label>Zip Code/City</label>
                  <input type="number" class="form-control" placeholder="Zip Code" v-model="personalInfo.zip_code">
                </div>

                <h5>Add Photo</h5>
                <hr>
                <div class="form-group">
                  <label>Add/Change Photo</label>
                  <input type="file"  @change="selectImage" name="image" class="form-control">
                </div>
              </div>
            </div>
            <!--    Personal Information-->

<!--            Profile-->
            <a class="btn btn-primary" data-toggle="collapse" href="#profile" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-home-lg-alt"></i>  Profile
            </a>
            <div class="collapse" id="profile">
              <div class="card card-body">
                  <div class="form-group">
                    <label>Job Title</label>
                    <input type="text" class="form-control" placeholder="Job Title" v-model="inputProfile.job_title">
                  </div>
                <div class="form-group">
                  <label>Job Description</label>
                  <textarea class="form-control" v-model="inputProfile.job_description"></textarea>
                </div>
                </div>
            </div>
<!--            Profile-->
            <!--      Social Media-->
            <a class="btn btn-primary" data-toggle="collapse" href="#socialMedia" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-home-lg-alt"></i>  Social Media
            </a>
            <div class="collapse" id="socialMedia">
              <div class="card card-body">
                <div class="form-row" v-for="(socialMedia,k) in inputSocialMedia" :key="k">
                  <div class="form-group col-md-3">
                    <select class="form-control" v-model="socialMedia.social_media">
                      <option value="facebook">Facebook</option>
                      <option value="twitter">Twitter</option>
                      <option value="linkdin">Linkdin</option>
                      <option value="github">Github</option>
                      <option value="skype">Skype</option>
                      <option value="google_plus">Google+</option>
                    </select>
                  </div>
                  <div class="form-group col-md-8">
                    <input type="text" class="form-control" placeholder="Social Media Link" v-model="socialMedia.social_media_link">
                  </div>
                <div class="col-md-1">
                       <span>
        <i class="fas fa-minus-circle" @click="removeSocialMediaField(k)" v-show="k || ( !k && inputSocialMedia.length > 1)"></i>
        <i class="fas fa-plus-circle" @click="addSocialMediaField(k)" v-show="k == inputSocialMedia.length-1"></i>
    </span>
                </div>
                </div>
              </div>
            </div>
            <!--      Social Media-->

            <!--      Education-->
            <a class="btn btn-primary" data-toggle="collapse" href="#education" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-home-lg-alt"></i>  Education
            </a>
            <div class="collapse" id="education">
              <div class="card card-body"  v-for="(education,k) in inputEducation" :key="k">
                  <div class="form-group">
                    <label>Institution Name</label>
                    <input type="text" class="form-control" v-model="education.institution_name">
                  </div>
                  <div class="form-group">
                    <label>Major</label>
                    <input type="text" class="form-control" v-model="education.major">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Start Date</label>
                      <input type="date" class="form-control" v-model="education.start_date">
                    </div>
                    <div class="form-group col-md-6">
                      <label>End Date</label>
                      <input type="date" class="form-control" v-model="education.end_date">
                    </div>
                    <div class="form-group">
                      <input type="checkbox" value="present" v-model="education.present">present
                    </div>
                  </div>
                  <div class="form-group">
                    <label>CGP-A</label>
                    <input type="number" class="form-control" max="4" v-model="education.cgpa">
                  </div>
                <div class="row">
                <i class="fas fa-plus-circle" v-show="k == inputEducation.length-1" @click="addEducationField" ></i>
                <i class="fas fa-minus-circle" @click="removeEducationField"  v-show="k || ( !k && inputEducation.length > 1)"></i>
              </div>
              </div>
            </div>
            <!--      Education-->
            <!--    Result-->
            <a class="btn btn-primary" data-toggle="collapse" href="#markSheet" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-home-lg-alt"></i>  Mark Sheet
            </a>
            <div class="collapse" id="markSheet">
              <div class="card card-body" v-for="(markSheet,k) in inputMarkSheet" :key="k">
                  <div class="form-group">
                    <label>Course Title</label>
                    <input type="text" class="form-control" v-model="markSheet.course_title">
                  </div>
                  <div class="form-row">
                  <div class="form-group col-md-7">
                    <label>Course Code</label>
                    <input type="text" class="form-control" v-model="markSheet.course_code">
                  </div>
                  <div class="form-group col-md-5">
                    <label>Credit</label>
                    <input type="number" class="form-control" max="3" v-model="markSheet.credit">
                  </div>
                    <div class="form-row">
                      <div class="form-group col-md-7">
                        <label>Grade</label>
                        <input type="text" class="form-control" v-model="markSheet.grade">
                      </div>
                      <div class="form-group col-md-5">
                        <label>Grade Point</label>
                        <input type="number" class="form-control" max="4" v-model="markSheet.grade_point">
                      </div>
                  </div>
                  </div>
                <div class="row">
                  <i class="fas fa-plus-circle" v-show="k == inputMarkSheet.length-1" @click="addMarkSheetField" ></i>
                  <i class="fas fa-minus-circle" @click="removeMarkSheetField"  v-show="k || ( !k && inputMarkSheet.length > 1)"></i>
                </div>
              </div>
            </div>
            <!--    Result-->

            <!--    Experience-->
            <a class="btn btn-primary" data-toggle="collapse" href="#experience" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-home-lg-alt"></i>  Experience
            </a>
            <div class="collapse" id="experience">
              <div class="card card-body" v-for="(experience,k) in inputExperience" :key="k">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Start Date</label>
                      <input type="date" class="form-control" v-model="experience.start_date">
                    </div>
                    <div class="form-group col-md-6">
                      <label>End Date</label>
                      <input type="date" class="form-control" v-model="experience.end_date">
                    </div>
                    <div class="form-group">
                      <input type="checkbox" v-model="experience.present">present
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Institution Name</label>
                    <input type="text" class="form-control" v-model="experience.institution_name">
                  </div>
                  <div class="form-group">
                    <label>Designation</label>
                    <input type="text" class="form-control" v-model="experience.designation">
                  </div>
                  <div class="form-group">
                    <label>About Job</label>
                    <input type="text" class="form-control" v-model="experience.about_job">
                  </div>
                <div class="row">
                  <i class="fas fa-plus-circle" v-show="k == inputExperience.length-1" @click="addExperienceField" ></i>
                  <i class="fas fa-minus-circle" @click="removeExperienceField"  v-show="k || ( !k && inputExperience.length > 1)"></i>
                </div>
                </div>
            </div>
            <!--    Experience-->

            <!--      Skill-->
            <a class="btn btn-primary" data-toggle="collapse" href="#skill" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-home-lg-alt"></i>  Skill
            </a>
            <div class="collapse" id="skill">
              <div class="card card-body" v-for="(skill,k) in inputSkill" :key="k">
                  <div class="form-group">
                    <label>Skill</label>
                    <select class="form-control" v-model="skill.skill">
                      <option value="HTML">HTML</option>
                      <option value="CSS">CSS</option>
                      <option value="PHP">PHP</option>
                      <option value="JavaScript">JavaScript</option>
                      <option value="Laravel">Laravel</option>
                      <option value="Vue.js">Vue.js</option>
                      <option value="WordPress">WordPress</option>
                    </select>
                  </div>
                <div class="row">
                  <i class="fas fa-plus-circle" v-show="k == inputSkill.length-1" @click="addSkillField" ></i>
                  <i class="fas fa-minus-circle" @click="removeSkillField"  v-show="k || ( !k && inputSkill.length > 1)"></i>
                </div>
                </div>
            </div>
            <!--      Skill-->
            <!--     Software Skill-->
            <a class="btn btn-primary" data-toggle="collapse" href="#softwareSkill" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-home-lg-alt"></i>  Software Skill
            </a>
            <div class="collapse" id="softwareSkill">
              <div class="card card-body" v-for="(softwareSkill,k) in inputSoftwareSkill" :key="k">
                  <div class="form-group">
                    <label>Software Skill</label>
                    <select class="form-control" v-model="softwareSkill.software_skill">
                      <option value="Adobe Photoshop">Adobe Photoshop</option>
                      <option value="Adobe Illustrator">Adobe Illustrator</option>
                      <option value="MS Word">MS Word</option>
                      <option value="Power Point">PowerPoint</option>
                      <option value="XAMPP">XAMPP</option>
                      <option value="PHP Storm">PHP Storm</option>
                      <option value="Web Storm">Web Storm</option>
                      <option value="Netbeans">Netbeans</option>
                    </select>
                  </div>
                <div class="row">
                  <i class="fas fa-plus-circle" v-show="k == inputSoftwareSkill.length-1" @click="addSoftwareSkillField" ></i>
                  <i class="fas fa-minus-circle" @click="removeSoftwareSkillField"  v-show="k || ( !k && inputSoftwareSkill.length > 1)"></i>
                </div>
                </div>
            </div>
            <!--      Software Skill-->
            <!--     Personality-->
            <a class="btn btn-primary" data-toggle="collapse" href="#personality" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-home-lg-alt"></i>  Personality
            </a>
            <div class="collapse" id="personality">
              <div class="card card-body" v-for="(personality,k) in inputPersonality" :key="k">
                  <div class="form-group">
                    <label>Personality</label>
                    <input type="text" class="form-control" v-model="personality.personality">
                  </div>
                <div class="row">
                  <i class="fas fa-plus-circle" v-show="k == inputPersonality.length-1" @click="addPersonalityField" ></i>
                  <i class="fas fa-minus-circle" @click="removePersonalityField"  v-show="k || ( !k && inputPersonality.length > 1)"></i>
                </div>
                </div>
            </div>
            <!--      Personality-->
            <!--     Language-->
            <a class="btn btn-primary" data-toggle="collapse" href="#language" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-home-lg-alt"></i>  Language
            </a>
            <div class="collapse" id="language">
              <div class="card card-body"  v-for="(language,k) in inputLanguage" :key="k">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Language</label>
                      <input type="text" class="form-control" v-model="language.language">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Score</label>
                      <select class="form-control" v-model="language.score">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  </div>
                <div class="row">
                  <i class="fas fa-plus-circle" v-show="k == inputLanguage.length-1" @click="addLanguageField" ></i>
                  <i class="fas fa-minus-circle" @click="removeLanguageField"  v-show="k || ( !k && inputLanguage.length > 1)"></i>
                </div>
                </div>
            </div>
            <!--      Language-->

            <!--     Hobby-->
            <a class="btn btn-primary" data-toggle="collapse" href="#hobby" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-home-lg-alt"></i>  Hobbies
            </a>
            <div class="collapse" id="hobby">
              <div class="card card-body"  v-for="(hobby,k) in inputHobby" :key="k">
                  <div class="form-group">
                    <label>Hobby</label>
                    <input type="text" class="form-control" v-model="hobby.hobbies">
                  </div>
                <div class="row">
                  <i class="fas fa-plus-circle" v-show="k == inputHobby.length-1" @click="addHobbyField" ></i>
                  <i class="fas fa-minus-circle" @click="removeHobbyField"  v-show="k || ( !k && inputHobby.length > 1)"></i>
                </div>
                </div>
            </div>
            <!--      Hobby-->
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
        <!--  My CV Form-->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      personalInfo: [
        {
          first_name: '',
          last_name: '',
          gender: '',
          date_of_birth: '',
          email: '',
          phone: '',
          address: '',
          zip_code: ''
        }
      ],
      image: '',
      inputProfile: [
        {
          job_title: '',
          job_description: ''
        }
      ],
      inputSocialMedia: [
        {
          social_media: '',
          social_media_link: ''
        }
      ],
      inputEducation: [
        {
          institution_name: '',
          major: '',
          start_date: '',
          end_date: '',
          present: '',
          cgpa: ''
        }
      ],
      inputMarkSheet: [
        {
          course_title: '',
          course_code: '',
          credit: '',
          grade: '',
          grade_point: ''
        }
      ],
      inputExperience: [
        {
          start_date: '',
          end_date: '',
          present: '',
          institution_name: '',
          designation: '',
          about_job: ''
        }
      ],
      inputSkill: [
        {
          skill: ''
        }
      ],
      inputSoftwareSkill: [
        {
          software_skill: ''
        }
      ],
      inputPersonality: [
        {
          personality: ''
        }
      ],
      inputLanguage: [
        {
          language: '',
          score: ''
        }
      ],
      inputHobby: [
        {
          hobbies: ''
        }
      ]
    }
  },
  methods: {
    //       ********** add remove start **********
    // social media
    addSocialMediaField (index) {
      this.inputSocialMedia.push({social_media: '', social_media_link: ''})
    },
    removeSocialMediaField (index) {
      this.inputSocialMedia.splice(index, 1)
    },
    // social media
    // education
    addEducationField (index) {
      this.inputEducation.push({institution_name: '', major: '', start_date: '', end_date: '', present: '', cgpa: ''})
    },
    removeEducationField (index) {
      this.inputEducation.splice(index, 1)
    },
    // education
    // result
    addMarkSheetField (index) {
      this.inputMarkSheet.push({course: '', gpa: ''})
    },
    removeMarkSheetField (index) {
      this.inputMarkSheet.splice(index, 1)
    },
    // result
    // experience
    addExperienceField (index) {
      this.inputExperience.push({start_date: '', end_date: '', present: '', institution_name: '', designation: '', about_job: ''})
    },
    removeExperienceField (index) {
      this.inputExperience.splice(index, 1)
    },
    // experience
    // skill
    addSkillField (index) {
      this.inputSkill.push({skill: ''})
    },
    removeSkillField (index) {
      this.inputSkill.splice(index, 1)
    },
    // skill
    // software skill
    addSoftwareSkillField (index) {
      this.inputSoftwareSkill.push({skill: ''})
    },
    removeSoftwareSkillField (index) {
      this.inputSoftwareSkill.splice(index, 1)
    },
    // software skill
    // personality
    addPersonalityField (index) {
      this.inputPersonality.push({skill: ''})
    },
    removePersonalityField (index) {
      this.inputPersonality.splice(index, 1)
    },
    // personality
    // language
    addLanguageField (index) {
      this.inputLanguage.push({language: '', score: ''})
    },
    removeLanguageField (index) {
      this.inputLanguage.splice(index, 1)
    },
    // language
    // hobby
    addHobbyField (index) {
      this.inputHobby.push({hobbies: ''})
    },
    removeHobbyField (index) {
      this.inputHobby.splice(index, 1)
    },
    // hobby
    //       ********** add remove end **********
    // image preview before upload
    selectImage (e) {
      // console.log(e)
      // console.log(e.target.files[0])
      var fileReader = new FileReader()
      fileReader.readAsDataURL(e.target.files[0])
      const file = e.target.files[0]
      this.url = URL.createObjectURL(file)
      fileReader.onload = (e) => {
        this.image = e.target.result
        // console.log(this.imageUpload.image)
      }
    }
    // image preview before upload
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
